.div__box {
    width: 450px;
    height: 250px;
    background-color: purple;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: 10px solid pink;
    padding: 30px;
    margin: 50px;
}